
//font family
$font-family-logo: 'Shrikhand', cursive;
$font-family-body: 'Roboto', sans-serif;

//font weight
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-thick: 500;
$font-weight-thicker: 700;
