@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/keyframe' as *;
@use '../base/typography' as *;
@use '../base/normalize' as *;
@use '../base/base' as *;

//laoding-spinner
.loading-spinner {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0);
  animation: 3s none opacity-bg;
  position: absolute;
}

.loading-spinner-wrapper {
  display: flex;
  justify-content: center;
}

.loading-spinner-container {
  margin: auto;
  width: 40px;
  height: 40px;
  top: 50%;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-animation: 3s none sk-rotate;
  animation: 3s none sk-rotate, 3s none opacity-spinner;
  opacity: 0;
}

.loading-spinner-dot1,
.loading-spinner-dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: 2s ease-in-out infinite sk-bouce;
  animation: 2s ease-in-out infinite sk-bounce;
}

.loading-spinner-dot1 {
  background-color: $color-tertiary;
}

.loading-spinner-dot2 {
  background-color: $color-primary;
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.main {
  margin: 0 0 $margin-between;
  display: inline;
  animation: z-index 3s;
  &__location {
    display: flex;
    background-color: $color-grey;
    align-items: center;
    text-align: center;
    justify-content: center;
    i {
      font-size: 1.3rem;
      margin-right: calc($margin-between/2);
    }
    p {
      font-size: 1.3rem;
      font-weight: $font-weight-thick;
    }
  }

  &__text {
    background-color: $color-grey-lighter;
    padding: $margin-entire;
    text-align: center;
    h1 {
      margin: 0 calc($margin-side * 2);
    }
    p {
      color: $color-grey-darker;
      font-weight: $font-weight-light;
    }
    &-btn {
      @include gradient;
      border-radius: $font-size-large;
      padding: $margin-side $margin-entire;
      border: none;
      color: #fff;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        box-shadow: 1px 1px 10px $color-shadow;
        transition: all 0.2s ease;
      }
    }
  }
}

.fonctionnement {
  margin: $margin-entire * 1.5 $margin-side;
  animation: z-index 3s;
  &__lists {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: $margin-between;
    &:hover {
      .fonctionnement__lists-content {
        transition: all 0.5s ease;
        background-color: rgba(147, 86, 220, 0.1);
        i {
          color: $color-primary;
          transition: all 0.5s ease;
        }
      }
    }
    &-number {
      background-color: $color-primary;
      padding: calc($margin-between/2);
      border-radius: 50%;
      color: #fff;
      z-index: 0;
      font-size: $font-size-small;
      width: 0.9rem;
      height: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-content {
      display: flex;
      width: 100%;
      align-items: center;
      background-color: $color-grey-lighter;
      box-shadow: 0px 5px 10px $color-grey;
      padding: $margin-side$margin-entire;
      border-radius: $font-size-large;
      margin-left: -15px;
      i {
        margin-right: $margin-between;
        color: $color-grey-dark;
      }
      p {
        font-weight: $font-weight-thick;
      }
    }
  }
}

.restaurants {
  background-color: $color-grey-lighter;
  padding: calc($margin-entire * 1.5) $margin-side;
  position: relative;
  z-index: -1;
  &__card {
    position: relative;
    background-color: #fff;
    border-radius: $font-size-large;
    display: inline-block;
    margin-bottom: $margin-between;
    box-shadow: 1px 1px 10px $color-grey;
    width: 100%;
    img {
      border-radius: $font-size-large $font-size-large 0 0;
      height: 12rem;
      width: 100%;
      object-fit: cover;
    }
    .absolute {
      position: absolute;
      right: 5%;
      background-color: $color-tertiary;
      color: #1f7c65;
      padding: calc($margin-between/2);
      border-radius: calc($font-size-micro/3);
    }
    &:hover {
      box-shadow: 1px 1px 10px $color-shadow;
      transition: all 0.5s ease;
    }
  }
}

.restaurants {
  &__card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 $margin-between;
    p {
      margin: calc($margin-between/3) 0 calc($margin-between/2);
      font-weight: $font-weight-light;
    }
    .icon-heart {
      i {
        font-size: $icon-size;
      }
      .full {
        display: none;
      }
      & > .empty:hover,
      & > .empty:hover::after {
        opacity: 0;
      }

      & > .empty:hover + .full {
        // animation: fill-icon 0.5s ease-in;
        display: inline-block;
        color: transparent;
        background: linear-gradient(to top, $color-secondary, $color-primary);
        background: -webkit-linear-gradient(
          to top,
          $color-secondary,
          $color-primary
        );
        background: -moz-linear-gradient(
          to top,
          $color-secondary,
          $color-primary
        );
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
  }
}

// @keyframes fill-icon-translate {
//   0% {
//     // background: linear-gradient(to top, $color-secondary, $color-primary);
//     // transform: translateY(-10px);
//     background: linear-gradient(to top, $color-secondary, $color-primary);
//     background-clip: text;
//   }
//   100% {
//     // transform: translateY(0);
//     background: linear-gradient(to top, $color-secondary, $color-primary);
//     -webkit-background-clip: text;
//     color: transparent;
//   }
// }

@keyframes fill-icon {
  0% {
    background-clip: text;
    background: linear-gradient(to top, $color-secondary, $color-primary);
    // overflow: hidden;
  }

  100% {
    // background: -moz-linear-gradient(to top, $color-secondary, $color-primary);
    // background: -webkit-linear-gradient(
    // to top,
    // $color-secondary,
    // $color-primary
    // );
    background: linear-gradient(to top, $color-secondary, $color-primary);
    background-clip: text;
    // -webkit-background-clip: text;
    // -moz-background-clip: text;
  }

  // 80%,
  // 100% {
  //   background: linear-gradient(to top, $color-secondary, $color-primary);
  //   background-clip: text;
  // }
}

.restaurants
  > .restaurants__wrapper
  > .restaurants__card
  > .restaurants__card-title
  > .restaurants__card-text
  > .restaurant__card-title--bold {
  font-weight: $font-weight-thicker;
  margin: calc($margin-between/2) 0 0;
}

@include tablet {
  .fonctionnement {
    margin: calc($margin-entire * 2) $margin-entire;
  }
  .restaurants {
    padding: calc($margin-entire * 2) $margin-entire;
  }
}

@include desktop {
  .fonctionnement {
    margin: calc($margin-entire * 2.5) calc($margin-entire * 1.5);
    &__wrapper {
      display: flex;
      justify-content: space-around;
      a {
        margin-right: $margin-side;
      }
    }
  }

  .restaurants {
    padding: calc($margin-entire * 2.5) calc($margin-entire * 1.5);
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 50%));
      grid-gap: 1rem;
    }
  }
}
