//color
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-shadow: #b2b2b2;
$color-grey: #e6e6e6;
$color-grey-dark: #838383;
$color-grey-darker: #383838;
$color-grey-lighter: #f3f3f3;

//font size
$font-size-title: 1.6rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;
$font-size-micro: 0.8rem;

//font family
$font-family-logo: 'Shrikhand', cursive;
$font-family-body: 'Roboto', sans-serif;

//font weight
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-thick: 500;
$font-weight-thicker: 700;

//margins
$margin-entire: 2rem;
$margin-between: 1.2rem;
$margin-side: 1rem;

//icon size
$icon-size: 1.3rem;
